.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

/tags
/TAGS
/kernel/linux
/kernel/vmlinux
/kernel/vmlinuz
/kernel/System.map
/kernel/Module.markers
/kernel/Module.symvers
/toolchain
/build_result
kernelFile
/kernel/arch/arm/boot/Image
/kernel/arch/arm/boot/compressed/vmlinux
/kernel/arch/arm/boot/zImage


!.gitignore
!.mailmap

patches-*
patch-*

patches
series

cscope.*
ncscope.*

GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

out
